$white: white;
$blue: darkcyan;
$black: black;
$colorDefault: yellow;


*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
::-webkit-scrollbar{
    width: 3px!important;
}
::-webkit-scrollbar-thumb{
    background-color: $colorDefault;
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background-color: $black;
}
html{
    scroll-behavior: smooth;
    body{
        margin: 0;
        overflow-x: hidden;
        .container{
            margin: 0;
            padding: 0;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            .home{
                background-image: url('../img/section_one_bg.jpg');
                background-size: cover;
                background-position: center;
                height: 42rem;
                width: 100%;
                .navbar{
                    z-index: 9999;
                    background-color: transparent!important;
                    transition: o.3s linear;
                    -webkit-transition: 0.3s linear;
                    -moz-transition: 0.3s linear;
                    -o-transition: 0.3s linear;
                    .navbar-brand{
                        letter-spacing: 0.8px ;
                        font-size: 1.7rem;
                        color: $colorDefault!important;
                        padding-left: 6rem;
                    }
                }
                .navbar-nav{
                    margin-left: 7rem;
                    li{
                        font-size: 1.2rem;
                        margin: 15px;
                        font-weight: 500;
                        font-family: 'Roboto', sans-serif;
                        .nav-link{
                            color: $white!important;
                        }
                        .nav-link:hover{
                            color: $colorDefault!important;
                            transition: 0.3s ease;
                            -webkit-transition: 0.3s ease;
                            -moz-transition: 0.3s ease;
                            -o-transition: 0.3s ease;
                        }
                    }
                }
                .fixed{
                    background-color: #000000db!important;
                }
                
                .logotib{
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .center{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        height: 30rem;
                        .h1{
                            color: $white;
                            font-size: 100px;
                            margin: 20px;
                            letter-spacing: 5px ;
                            padding: 0;
                        }
                        .h4{
                            color: $blue;
                            font-size: 27px;
                            padding: 0;
                            margin: 0;
                            letter-spacing: 10px;
                        }
                    }
                    .bottom{

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 3rem;
                        h1{
                            margin-bottom: 20px;
                            font-size: 20px;
                            color: $white;
                        }
                        i{
                            padding: 10px 15px;
                            border: 1px solid $white;
                            border-radius: 50%;
                            font-size: 20px;
                            color: $white;
                        }
                    }
                }
            }
            .fatures{
                background-color: $blue;
                .boxes{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 40px 50px;
                    h1{
                        margin: 0;
                        font-size: 35px;
                        padding: 30px 250px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                    }
                    h1::before{
                        content: 'W';
                        position: absolute;
                        color: #ffffff;
                        opacity: 0.7;
                        font-size: 150px;
                    }
                    .box{
                        width: 20%;
                        margin: 50px 20px;
                        text-align: center;
                        i{
                            color: $white;
                            padding: 30px;
                            border-radius: 50%;
                            border: 2px solid $white;
                        }
                        p{
                            font-size: 20px;
                            color: $white;
                        }
                    }
                }
            }
            .pages{
                .boxes{
                    width: 100%;
                    font-size: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .box{
                        font-size: 10px;
                        width: 50%;
                    }
                    .box1{
                        background-color: $black;
                        color: $white;
                        padding: 5%;
                        height: 21rem;
                        h5{
                            font-size: 20px;
                            color: $white;
                            margin: 10px;
                        }
                        h1{
                            margin: 0px;
                            font-size: 30px;
                            color: $white;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                    .box2{
                        width: 50%;
                        height: 21rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .box3{
                        width: 50%;
                        height: 21rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .box4{
                        background-color: $white;
                        color: $black;
                        padding: 5%;
                        height: 21rem;
                        h5{
                            font-size: 20px;
                            color: $black;
                            margin: 10px;
                        }
                        h1{
                            margin: 0px;
                            font-size: 30px;
                            color: $black;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
            .extension{
                width: 100%;
                margin-top: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;
                .boxes{
                    height: 25vh;
                    h1{
                        margin: 0;
                        font-size: 35px;
                        margin: 30px 250px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        z-index: 1;
                    }
                    h1::before{
                        content: 'B';
                        position: absolute;
                        color: #818181;
                        z-index: -1;
                        font-size: 150px;
                    }
                    h1:hover::before{
                        transform: scale(1.1);
                        transition: 0.3s linear;
                    }
                }
                h2{
                    font-size: 25px;
                    color: $blue;
                }
                .boxes1{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .box{
                        width: 25%;
                        margin: 0 20px;
                        img{
                            width: 100%;
                        }
                        h1{
                            font-weight: bold;
                            color: $blue;
                            font-size: 20px;
                            text-align: center;
                        }
                        p{
                            text-align: center;
                            font-size: 15px;
                        }
                    }
                }
            }
            .tutorials{
                width: 100%;
                .boxes{
                    background-color: $blue;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 150px;
                    .box{
                        height: 12.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin: 0 20px;
                        p{
                            width: 100%;
                        }
                        
                    }
                    i{
                        width: 15%;
                    }
                }
                .boxes1{
                    width: 100%;
                    background-image: url('../img/workplace.jpg');
                    display: flex;
                    .left{
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 150px;
                        h1{
                            color: $white;
                        }
                        p{
                            color: $white;
                        }
                        .btn{
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            flex-direction: column;
                            margin-top: 10px;
                            .btn1{
                                padding-top: 5px;
                                padding-bottom: 5px;
                                padding-right: 20px;
                                background-color: $blue;
                                color: $white;
                                border: none;
                            }
                            .btn1:hover{
                                color: $blue;
                                background-color: $white;
                                transition: 0.3s linear;
                            }
                            .btn2{
                                padding-top: 5px;
                                padding-bottom: 5px;
                                padding-right: 85px;
                                background-color: $blue;
                                color: $white;
                                border: none;
                                margin-top: 10px;
                            }
                            .btn2:hover{
                                color: $blue;
                                background-color: $white;
                                transition: 0.3s linear;
                            }
                            .btn3{
                                padding-top: 5px;
                                padding-bottom: 5px;
                                padding-right: 45px;
                                background-color: $blue;
                                color: $white;
                                border: none;
                                margin-top: 10px;
                            }
                            .btn3:hover{
                                color: $blue;
                                background-color: $white;
                                transition: 0.3s linear;
                            }
                        }
                    }
                    .right{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 50%;
                        }
                    }
                }
            }
            .boxes2{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1{
                    margin: 0;
                    margin-top: 75px;
                    font-size: 35px;
                    padding: 30px 250px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    z-index: 1;
                }
                h1::before{
                    content: 'T';
                    position: absolute;
                    color: #818181;
                    z-index: -1;
                    font-size: 150px;
                }
                h1:hover::before{
                    transform: scale(1.1);
                    transition: 0.3s linear;
                }
                .boxes{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    .box{
                        padding: 20px;
                        img{
                            z-index: 1;
                        }
                        .quti{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            z-index: 2;
                            background-color: $white;
                        }
                    }
                }
            }
            .contack{
                background-image: url('../img/forms-bg.jpg');
                h2{
                    margin: 0;
                    font-size: 35px;
                    padding: 30px 250px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 80px;
                    font-weight: bold;
                    color: $white;
                }
                h2::before{
                    content: 'C';
                    position: absolute;
                    color: #ffffff;
                    opacity: 0.7;
                    font-size: 150px;
                }   
                .quti{
                    padding-top: 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    input{
                        width: 24%;
                        height: 3.5rem;
                        margin: 0 28px;
                    }
                }
                .quti1{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input{
                       width: 80%;
                       height: 10rem;
                    }
                }
                img{
                    margin-top: 150px;
                }
            }
        }
    }
}
// @media (min-width: 300px) and (max-width: 360px) {
//     html{
//         overflow-x: hidden;
//         body{
//             overflow-x: hidden;
//             .home{
//                 height: 42rem;
//                 .navbar{
//                     height: 4rem;
//                     width: 100%;
//                     .navbar-brand{
//                         font-size: 1.3rem!important;
//                         padding: 0!important;
//                     }
//                     .navbar-nav{
//                         margin: 0!important;
//                         background-color: $black;
//                         padding: 10px;
//                     }
//                 }
//                 .logotib{
//                     align-items: center;
//                     display: flex;
//                     justify-content: center;
//                     flex-direction: column;
//                     .center{
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         flex-direction: column;
//                         width: 100%;
//                         height: 30rem;
//                         .h1{
//                             font-size: 45px!important;
//                         }
//                         .h4{
//                             font-size: 15px;
//                             letter-spacing: 3px;
//                             text-align: center;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
